config.ini
config_setn.ini
config_compiler.ini
config_decom.ini
AtlusScriptCompiler.log
/dependencies/AtlusScriptCompiler.log
/MSGs/compiled
/MSGs/setn
/PyScripts/fontsw.spec
#/PyScripts/MsgViewerQT5.spec
/PyScripts/build
/PyScripts/dist
/MsgViewerQT5/build
/MsgViewerQT5/dist
/MsgViewerQT5/MsgViewerQT5.spec